%h1 Listagem das localidades

%table
  %thead
    %tr
      %th Nome do local
      %th Elevação
      %th Latitude
      %th Longitude
      %th
      %th
      %th

  %tbody
    - @locals.each do |local|
      %tr
        %td= local.Nomelocal
        %td= local.elevacao
        %td= local.latitude
        %td= local.longitude
        %td= link_to 'Visualizar', local
        %td= link_to 'Editar', edit_local_path(local)
        %td= link_to 'Excluir', local, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Criar Novo Local', new_local_path

%p
  .rodape
    = link_to( "Retornar a tela inicial", root_path )

