%p#notice= notice

%p
  %b Nome:
  = @pessoa.nome
%p
  %b Idade:
  = @pessoa.idade
%p
  %b Senha:
  = @pessoa.senha
%p
  %b Confirmar senha:
  = @pessoa.confirmarsenha
%p
  %b Sexo:
  = @pessoa.sexo
%p
  %b Sexo parceiro:
  = @pessoa.sexoparceiro
%p
  %b Qualidade:
  = @pessoa.qualidade.Nomequalidade
%p
  %b Qualidade parceiro:
  = @pessoa.qualidadeparceiro.Nomequalidadep
%p
  %b Defeito:
  = @pessoa.defeito.Nomedefeito
%p
  %b Defeito parceiro:
  = @pessoa.defeitoparceiro.Nomedefeitop
%p
  %b Foto:
  = @pessoa.picture.Nomepicture

= link_to 'Editar', edit_pessoa_path(@pessoa)
\|
= link_to 'Voltar', pessoas_path
