%h1 Listing pictures

%table
  %thead
    %tr
      %th Nomepicture
      %th
      %th
      %th

  %tbody
    - @pictures.each do |picture|
      %tr
        %td= picture.Nomepicture
        %td= link_to 'Show', picture
        %td= link_to 'Edit', edit_picture_path(picture)
        %td= link_to 'Excluir', picture, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Picture', new_picture_path
