%h1 Listagem dos defeitos

%table
  %thead
    %tr
      %th Defeitos:
      %th
      %th
      %th

  %tbody
    - @defeitos.each do |defeito|
      %tr
        %td= defeito.Nomedefeito
        %td= link_to 'Visualizar', defeito
        %td= link_to 'Editar', edit_defeito_path(defeito)
        %td= link_to 'Excluir', defeito, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Criar Novo Defeito', new_defeito_path

%p
  .rodape
    = link_to( "Retornar a tela inicial", root_path )

