%h1 Listagem dos defeitos dos parceiros

%table
  %thead
    %tr
      %th Defeitos:
      %th
      %th
      %th

  %tbody
    - @defeitoparceiros.each do |defeitoparceiro|
      %tr
        %td= defeitoparceiro.Nomedefeitop
        %td= link_to 'Visualizar', defeitoparceiro
        %td= link_to 'Editar', edit_defeitoparceiro_path(defeitoparceiro)
        %td= link_to 'Excluir', defeitoparceiro, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Criar Novo Defeito do Parceiro', new_defeitoparceiro_path

%p
  .rodape
    = link_to( "Retornar a tela inicial", root_path )

